<div id="contact-page">

    <div class="contact-text">
        <h1>GET IN TOUCH</h1>
        <p>Please feel free to get in touch anytime whether for work inquiries or to just say hello. I am currently accepting new freelance photography projects, and willing to hear interesting proposals.</p>
    </div>

    <div class="contact-form">
        <form name="cont" ng-submit="contact.send()">

            <div id="name">
                <input placeholder="Name" name="name" type="text" maxlength="254" ng-model="contact.name"/>

                <p ng-if="contact.requiredName">
                   This field is required.
                </p>
            </div>

            <div id="email">
                <input placeholder="Email" name="email" type="text" maxlength="254" ng-model="contact.email"/>

                <p ng-if="contact.requiredEmail">
                    This field is required.
                </p>
            </div>

            <div id="message">
                <input placeholder="Message" name="message" type="text" maxlength="254" ng-model="contact.message"/>

                <p ng-if="contact.requiredMessage">
                    This field is required.
                </p>
            </div>

            <div id="send">
                <button type="submit">SEND</button>
            </div>

        </form>
    </div>

</div>