.footer-body {
    display: inline-block;
    height: 300px;
    padding-top: 30px;
    width: 100%;
    bottom: 0;
    background-color: #009bdb;
    color: white;
    font-family: helvetica, arial, freesans, clean, sans-serif;
    text-align: center;
    h2 {
        font-weight: bold;
    }

    p {
        display: inherit;
        width: 440px;
    }
}